<!DECTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>news app</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css"/>
    </head>
    <body>
        <div class="container" id="app">
            <h3 class="text-center">VueNews</h3>
            <div class="row" v-for="posts in processedPosts">
                <div class="columns medium-2" v-for="result in posts">
                    <div class="card">
                        <div class="card-divider">
                            {{result.title}}
                        </div>
                        <image :src="result.image_url"></image>
                        <div class="card-section">
                            {{result.abstract}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>